body {
    background-color: rgba(38, 179, 165, 0.674);
} 

.parrafo {
    color: darkmagenta;
    background-color: rgba(255, 238, 171, 0.694);
}

#parrafoUnico {
    color: rgb(255, 0, 221);
}

#contenedor1 {
    width: 50vw;
    height: 80vh;
    border: 1px solid white;
    margin: 15px;
    position: relative;
}

.cuadrado {
    width: 25%;
    height: 25%;
    background-color: rgb(255, 247, 240);
    border: 1px solid rgb(255, 0, 217);
}

#cuadrado4 {
    width: 25%;
    height: 25%;
    background-color: azure;
    border: 1px solid blue;
}


#contenedor2 {
    width: 45vw;
    height: 80vh;
    border: 1px solid black;
    margin: 15px;
    display: flex;
        justify-content: space-around;
        align-items: flex-end;
}

@keyframes redondear {
    0% {
        border-radius: 0%;
        background-color: aqua;
    }
    50% {
        border-radius: 25%;
        background-color: black;
    }
    100% {
        border-radius: 50%;
        background-color: blueviolet;
    }
    
}
.cuadrado2 {
    width: 25%;
    height: 25%;
    background-color: azure;
    border: 1px solid blue;
    position: absolute;
}

.cuadrado:hover {
    animation: redondear 2s linear infinite alternate;
}
.cuadrado3 {
    width: 25%;
    height: 25%;
    background-color: azure;
    border: 1px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
}
.cuadrado1 {
    width: 25%;
    height: 25%;
    background-color: rgb(247, 255, 240);
    border: 1px solid rgb(0, 255, 166);
    position: absolute;
    top: 25%;
    left: 25%;


}
